In [1]:
import pandas as pd
import numpy as np
from ast import literal_eval

In [2]:
df = pd.read_csv('./data/raw_data_marathon.csv', na_values=['NC'], index_col=0)

In [3]:
names = df['name'].str.split(', ', expand=True)
df['last_name'] = names.iloc[:,0]
df['first_name'] = names.iloc[:,1]
df.drop(columns='name', inplace=True)

In [4]:
df.dtypes

bib_number            int64
half_1st             object
half_second          object
time_total_netto     object
time_total_brutto    object
5km                  object
10km                 object
15km                 object
20km                 object
25km                 object
30km                 object
35km                 object
40km                 object
last_name            object
first_name           object
dtype: object

In [5]:
df.isna().sum()
print(f"{df.isna().sum()['last_name']} dossards n'ont pas été attribués et vont être retirés de ce dataframe.")

1558 dossards n'ont pas été attribués et vont être retirés de ce dataframe.

In [6]:
df = df.dropna()
print(f"{df.isna().sum()['last_name']} : pour vérification")

0 : pour vérification

In [7]:
sorted_df = df.sort_values(by="time_total_netto").reset_index()
sorted_df.drop(columns='index', inplace=True)

In [8]:
sorted_df.shape

(19441, 15)

In [9]:
print(f" Dossard maximal distribué : {np.max(sorted_df['bib_number'])} < 21000 analysés = ok pour le scrapping")

 Dossard maximal distribué : 20474 < 21000 analysés = ok pour le scrapping

In [10]:
sorted_df['last_name'] = sorted_df['last_name'].apply(lambda row : 'xxx')
sorted_df['first_name'] = sorted_df['first_name'].apply(lambda row : 'xxx')

In [11]:
sorted_df.tail()

,bib_number,half_1st,half_second,time_total_netto,time_total_brutto,5km,10km,15km,20km,25km,30km,35km,40km,last_name,first_name
19436,9219,–,–,–,–,–,–,–,–,–,–,–,–,xxx,xxx
19437,9218,–,–,–,–,–,–,–,–,–,–,–,–,xxx,xxx
19438,9217,–,–,–,–,–,–,–,–,–,–,–,–,xxx,xxx
19439,9310,–,–,–,–,–,–,–,–,–,–,–,–,xxx,xxx
19440,15651,–,–,–,–,–,–,–,–,–,–,–,–,xxx,xxx

In [13]:
sorted_df.to_csv('data/cleaned_data_marathon_all_participants.csv')